<button mat-icon-button id='close-dialog' color='primary' aria-label='close tinee dialog'>
    <app-icon (click)='close()' class='icon xs' name='close'></app-icon>
</button>
<h3 mat-dialog-title class='header'>Update your confession</h3>
<form>
    <p class='legend'>That wasn't what you said ?</p>
    <mat-form-field>
        <mat-label>Confession</mat-label>
        <input matInput placeholder='Damn it !' [formControl]='confessionControl' required>
        <mat-error *ngIf='confessionControl.invalid'>That's not a confession !</mat-error>
    </mat-form-field>
    <button color='primary' mat-raised-button
        disabled='{{confessionControl.invalid}}' (click)='update()'>update</button>
</form>
