<section id="headline" class='is-primary' *ngIf="jar.members">
    <div id="jar-gauge" class="is-relative">
        <meter class=" is-accent" max="{{jar.maxAmount }}" value="{{jar.balance }}" title="GB"></meter>
        <span id="meter-indicator"> <em>current balance: </em><strong>{{jar.balance }}</strong> on <strong>{{jar.maxAmount}}</strong> €</span>
    </div>
    <mat-chip-list>
        <div id='addressee'>
            <p class='legend'>supports: </p>
            <mat-chip selected color='accent'>
                <app-icon class='icon xs' name='support'></app-icon>
                <span>{{jar.addressee.name}}</span>
            </mat-chip>
        </div>
        <mat-chip selected color='primary'>
            <app-icon class='icon xs' name='peoples'></app-icon>
            <strong>{{jar.members.length}}</strong> members</mat-chip>
        <mat-chip selected color='primary'>
            <app-icon class='icon xs' name='swear'></app-icon>
            <strong>{{confessionsCount}}</strong> confessions
        </mat-chip>
        <mat-chip selected color='primary'>
            <app-icon class='icon xs' name='calendar'></app-icon>
            <strong>{{remainingDays}}</strong> days left !
        </mat-chip>
    </mat-chip-list>
</section>
<section class='jar-content' >
    <div id='history-table' *ngIf='!!jar'>
        <div class="header">
            <p class="legend is-primary">
                <app-icon name='clock' class='icon xs'></app-icon>
                Jar's confessions
            </p>
            <span>
                <button mat-raised-button color='accent' (click)='confess()'>
                    <app-icon class='icon xs' name='swear'></app-icon>
                    CONFESS
                </button>
                <button class='legend' mat-stroked-button [matMenuTriggerFor]="membersMenu">
                    <app-icon name='peoples' class='icon xs'></app-icon>
                    MEMBERS
                </button>
            </span>

            <mat-menu #membersMenu="matMenu" xPosition="before">
                    <span mat-menu-item *ngFor='let member of sortedMembers' class="member-wrapper">
                            <app-icon name='{{member.avatar}}' class='icon avatar' avatar='true' matTooltip="joined: {{member.joined | date:'shortDate'}}"></app-icon>
                            <p class='legend'>{{member.username}}</p>
                            <app-icon *ngIf='member.admin' name='crown' class='icon xxs is-primary admin' matTooltip='This member is an admin'></app-icon>
                            <mat-chip selected color='primary'>{{member.balance | currency:'EUR'}}</mat-chip>
                    </span>
            </mat-menu>
        </div>
        <div class="wrapper">
            <p *ngIf='confessionsCount === 0' class="empty">No swears were confessed here yet !</p>
            <div id='confession-table' class='table-content' *ngIf='confessionsCount > 0 && !!confessionsList'>
                <div class="wrapper" *ngFor='let confession of confessionsList'>
                    <p class="legend date helped" matTooltip="{{confession.date | date:'short'}}">{{confession.date | date:'HH:mm'}}</p>
                    <mat-card>
                        <h4 class='is-accent'>{{confession.swear | titleShortener }}</h4>
                        <div class="wrap">
                            <em class='legend'>confessed by</em>
                            <span class="has-icon author">
                                <span class='is-primary'>{{confession.author.username}}</span>
                                <app-icon name='{{confession.author.avatar}}' class='icon avatar' avatar='true'></app-icon>
                            </span>
                        </div>
                        <a class='is-accent hoverable pointed' (click)='updateConfession(confession)' *ngIf='ownConfession(confession)'>
                            <app-icon class='icon xs' name='edit'></app-icon>
                        </a>
                    </mat-card>

                </div>
                <hr class='spacer'>
            </div>
        </div>
    </div>
</section>

