<section id='jar-active' *ngIf='!!jar' class='is-primary'>
    <app-jar-settings
    [user]='currentUserId'
    [remaining]='remainingDays'
    [jar]='jar' [small]='false' ></app-jar-settings>

    <div id="confess">
        <p class="legend">Did your sworn something ?</p>
        <button mat-raised-button color='primary' (click)='confess()'>confess</button>
    </div>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>
            <app-icon name='clock' class='icon xs'></app-icon>
            History
            </ng-template>

            <ng-template matTabContent>
                <p *ngIf='confessions === 0' class="empty">No swears were confessed here yet !</p>
                <div *ngIf='confessions > 0'>
                    <p class='legend'>Filters coming soon</p>
                    <div id='confession-table' *ngFor='let member of jar.members'>
                        <mat-card *ngFor='let confession of member.confessions'>
                            <div class="wrapper">
                                <span class="has-icon author">
                                    <app-icon name='{{member.avatar}}' class='icon avatar' avatar='true'></app-icon>
                                    <span class='is-primary'>{{member.username}}</span>
                                </span>
                                <em>confessed</em>
                                <strong class='is-accent'>{{confession.swear}}</strong>
                                <em class="date">{{confession.date | date:'shortDate'}}</em>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
            <app-icon name='peoples' class='icon xs'></app-icon>
            Members
            </ng-template>
            <ng-template matTabContent>
                <p class="legend">Find below all members contributing to this Jar</p>
                <div id='members-table'>
                    <div class="tab-wrapper">
                        <mat-card *ngFor='let member of jar.members'>

                            <div class="card-wrapper">
                                <span class="has-icon author">
                                    <app-icon name='{{member.avatar}}' class='icon avatar' avatar='true'></app-icon>
                                    <span class='is-primary'>{{member.username}}</span>
                                    <app-icon *ngIf='member.admin' name='crown' class='icon xs is-primary admin' matTooltip='This member is an admin'></app-icon>
                                    <div *ngIf='!member.admin' class="spaced"></div>
                                </span>
                                <div class="member-info">
                                    <mat-chip-list>
                                        <span class='chip-item'>
                                            <em class="date legend">joined:</em>
                                            <mat-chip>{{member.joined | date:'shortDate'}}</mat-chip>
                                        </span>
                                        <span class='chip-item'>
                                            <em class="date legend">confessions:</em>
                                            <mat-chip selected color='accent'>{{member.confessions.length}}</mat-chip>
                                        </span>
                                        <span class='chip-item'>
                                            <em class="date legend">fund:</em>
                                            <mat-chip selected color='primary'>{{member.balance | currency:'EUR'}}</mat-chip>
                                        </span>
                                    </mat-chip-list>
                                </div>
                            </div>

                        </mat-card>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

    </mat-tab-group>
</section>

