### Maven ### 
target/
pom.xml.tag
.mvn

### SASS ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### Node ### 
node_modules/
jspm_packages/
typings/
logs
bower_components
.grunt
.npm
*.log
package-lock.json

### Spring ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
mvnw
target/
bin/
.mvn/
mvnw.cmd
*/application-prod.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
*.code-workspace

### Eclipse ### 
.metadata
tmp/
*.tmp
local.properties
.settings/

### Intellij ### 
out/
.idea/

### Gradle ###
.idea/**/gradle.xml
.idea/**/libraries

### JIRA plugin ###
atlassian-ide-plugin.xml

### WINDOWS ### 
Thumbs.db

### MACOS ###
.DS_Store
