<mat-card>
    <section id="header">
            <app-icon avatar='true' class='icon lg' name='{{user.avatar}}'></app-icon>
            <span>
                <strong>{{user.username}}</strong>
                <app-icon class='icon xxs edit' name='edit'></app-icon>
            </span>
    </section>

    <section id='stats'>
        <mat-chip-list>
            <mat-chip>42.5 $</mat-chip>
        </mat-chip-list>
        <ul>
            <li>25 confessions</li>
            <li>3 associations</li>
            <li>4 jars</li>
        </ul>
    </section>
    <p class="footer legend">Thank you for contributing !</p>
</mat-card>
