mat-card {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    h3 { font-family: poppins !important;}
    #header {
        display: flex;
        padding: .5rem .5rem 0;
        flex-direction: column;
        align-items: center;
        span {
            position: relative;
            .edit {
                position: absolute;
                top: 50%;
                right: -1.25rem;
                transform: translateY(-50%);
                color: #aeaeae;
                cursor: pointer;
            }
        }
    }
}
