<form *ngIf='memberList && currentUserId && startingList'>
    <mat-form-field class='has-suffix members'>
        <mat-chip-list #memberChips aria-label="member selection">
            <div id="chips-wrap">
                <mat-chip color='accent' *ngFor="let memberChip of memberList"
                    [removable]="(memberChip.userId !== author.userId && currentUserId == author.userId)"
                    (removed)="removeMember(memberChip)">
                    <p id='member-chip'>
                        <app-icon name="{{memberChip.avatar}}"
                            avatar='true' class="icon avatar xs"
                            matTooltip="{{memberChip.username}}"></app-icon>
                        <mat-slide-toggle class='reverse' [(ngModel)]='memberChip.admin'
                            [disabled]='memberChip.userId === author.userId || !isJarAdmin(currentUserId) || memberChip.userId === currentUserId'
                            [ngModelOptions]="{standalone: true}"
                            matTooltip="Allow admin permissions"></mat-slide-toggle>
                        <app-icon name="close" class="icon xs"
                        matTooltip="remove member" matChipRemove></app-icon>
                    </p>
                </mat-chip>
            </div>

            <input #memberInput [formControl]="memberCtrl"
                placeholder=" Search members ..."
                [matAutocomplete]="auto" [matChipInputFor]="memberChips"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="selected($event)"
                [matChipInputAddOnBlur]="false">
            <app-icon id='search' matSuffix (click)="displayAutoComplete()"
                name="search" class="icon is-primary xs"></app-icon>
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
            <mat-option *ngFor="let filtered of filteredMembers | async" [value]="filtered">
                <span>
                    <app-icon name="{{filtered.avatar}}" avatar='true' class="icon avatar xs"></app-icon>
                    {{filtered.username}}
                </span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
