mat-card {
    width: 95%;
    min-width: 375px;
    max-width: 725px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: .5rem auto 0;
    padding: .5rem 1.25rem !important;
    border-bottom: 3px solid currentColor;
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        .days-left, .members, .confessions, #payed em {
            color: #aeaeae;
        }
        .aside {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            width: 125px;
            .mat-chip {
                height: auto !important;
                text-align: center;
            }
            .days-left, #payed em {
                font-size: .85rem;
            }
            &#payed p {
                background: currentColor;
                padding: .25rem .5rem;
                border-radius: 10px;
                line-height: 21px;
                strong {
                    color: white;
                }
            }
        }
        .content {
            flex: 1;
            margin: 0 .5rem auto;
            .title {
                font-size: 1.5rem;
                text-align: left;
                font-family: poppins !important;
            }
            .row {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                padding: .125rem .25rem;
                &.grouped { justify-content: space-evenly;}
                .addressee {
                    margin: 0 .5rem;
                    font-size: .7rem;
                    display: flex;
                }
                span {
                    font-size: .85rem;
                }
                em { margin-left: .25rem; }
                strong { margin-left: .5rem; }
            }
        }
    }
    .vertical-aside {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        & > * { margin: .25rem auto; }
        .open-details {
            border-radius: 50%;
            transition: background .6s ease;
            &:hover {background: currentColor;}
        }
    }
}
