<mat-card [ngClass]="{'is-accent':isOver}">
    <section class="aside" *ngIf="isActive">
        <mat-chip class='balance' selected>
            <app-icon class='icon xs' name='money'></app-icon>
            {{jar.balance}} / {{jar.maxAmount | currency:'EUR'}} </mat-chip>
        <span class='days-left'>
            <em> {{daysLeft}} days left !</em>
        </span>
    </section>

    <section class="aside" *ngIf="isCreated">
            <span class='empty'>Activation <br> needed</span>
    </section>

    <section class="content">
        <div class="row">
            <h4 class='title is-primary'>{{jar.title}}</h4>
            <span class='addressee is-accent'>
                <app-icon class='icon xs' name='support'></app-icon>
                <strong>{{jar.addressee}}</strong>
            </span>
        </div>

        <div class="row grouped ">
            <span class='members'>
                <app-icon class='icon xs' name='peoples'></app-icon>
                <em>{{jar.membersCount}} members</em>
            </span>
            <span class='confessions'>
                <app-icon class='icon xs' name='swear'></app-icon>
                <em>5 confessions</em>
            </span>
            <span class='confessions'>
                <app-icon name='calendar' class='icon xxs'></app-icon>
                <em>since: {{jar.startDate | date: 'shortDate'}}</em>
            </span>
        </div>
    </section>
    <app-icon [routerLink]="['/jars', jar.id]"class='icon open-details is-accent' name='visible'></app-icon>
</mat-card>

<!-- <app-icon avatar="true" name="{{jar.author.avatar}}"
        class="icon owner is-accent has-border is-rounded xsm"
        matTooltip="{{jar.author.username}} created this jar"></app-icon> -->
