<mat-card id='jar-details' *ngIf='isJarLoading'>
        <div id="jar-header">
            <div class="left">
                <h2 class='is-primary'>
                    <app-icon routerLink='/dashboard' name="back" class="icon is-primary has-border is-rounded pointed"></app-icon>
                    {{jar.title}}</h2>
                <p class="legend">{{!!jar.description ? jar.description : 'This jar doesn\'t have a description'}}</p>
            </div>
            <div class='aside'>
                <app-icon avatar="true" name="{{jar.author.avatar}}"
                    class="icon owner is-accent has-border is-rounded helped"
                    matTooltip="{{jar.author.username}} is the creator of this jar">
                </app-icon>
                <p class='legend display'>since <strong>{{jar.startingDate | date:'fullDate'}}</strong></p>
                <p class='legend mobile'>since <strong>{{jar.startingDate | date:'shortDate'}}</strong></p>
            </div>
        </div>
        <app-jar-created [infos]="infos" *ngIf="jarState === 'CREATED'" (activeEvent)='setState($event)'></app-jar-created>
        <app-jar-active [infos]="infos" *ngIf="jarState === 'ACTIVE'" (activeEvent)='setState($event)'></app-jar-active>
        <app-jar-over [infos]="infos" *ngIf="jarState === 'MAX_AMOUNT_REACHED' || jarState === 'OUT_DATED'" (activeEvent)='setState($event)'></app-jar-over>
</mat-card>
