/* POPPINS */
@font-face {
    font-family: 'poppins';
    src: url(../../assets/fonts/poppins/Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url(../../assets/fonts/poppins/Regular-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'poppins';
    src: url(../../assets/fonts/poppins/Black.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url(../../assets/fonts/poppins/Black-Italic.ttf) format('truetype');
    font-weight: bolder;
    font-style: italic;
}

/* PACIFICO */
@font-face {
    font-family: pacifico;
    src: url(../../assets/fonts/Pacifico.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL FONT STYLES */
* {
    font-family: poppins, sans-serif !important;
    p, a, li, button, .mat-chip { font-weight: normal !important; font-style: normal !important;}
    &.is-bold, strong { font-weight: bold !important; }
    &.is-italic, i, em { font-style: italic !important; }
}
h1, h1 > *, h2:not(.empty), h2 > *, h3, h3 > *, h4, h5, h6, .is-pacifico, .mat-card-title { font-family: pacifico, sans-serif !important;}
