/* GLOBAL LAYOUT STYLES */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width: 100%; height: 100%; position: relative; font-size: 14px; }
app-root, app-loader { width: 100%; height: 100%; }
body { 
    background-color: rgb(250, 250, 250);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2365d6e1' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-position: center; 
    background-size: 25%;
}
main.container { 
    position: relative;
    display: flex;
    padding: 0 1rem 1rem;
    min-height: calc(100% - 115px);
    flex-flow: column wrap;
    place-content: stretch center;
    align-items: stretch;
}

app-dashboard { 
    flex: 1;
    width: 100%;
}

mat-card#dashboard {
    background: #FFF;
    border-radius: .5rem;
    padding-top: 0;
    h2.mat-display-1 {
        width: 80%;
        margin: 2rem auto;
        padding: 1rem;
        margin-bottom: 0;
        border-bottom: 3px dotted currentColor;
        button {
            width: 3rem; height: 3rem; font-size: 3rem; border-radius: 50%; border: 1px solid currentColor; float: right;
            & > * {display: block;}
            
        }
    }
}


::-moz-selection { background: lightblue; color: white; }
::selection { background: lightblue; color: white; }

meter::-webkit-meter-optimum-value { background: currentColor; }
meter::-moz-meter-bar { background: currentColor; }


footer {
    p{ text-align: center;
        a { padding-left: .5rem; }
    }
}

.overlay {
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(235, 235, 235, 0.5);
    z-index:99999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}