<mat-toolbar>

    <img  class='pointed' routerLink='/dashboard' id ='logo' src='assets/img/logo.svg' alt='Swear Jar logo'>

    <section *ngIf='user'>

        <app-icon [matMenuTriggerFor]='userMenu' class='icon sm' avatar='true' name='{{ user.avatar }}'></app-icon>

        <mat-menu #userMenu='matMenu' xPosition='before'>

        <span id='username'>Logged as <strong>{{ user.username }}</strong></span>

        <button mat-menu-item class='is-accent has-icon' routerLink='/dashboard'>
            <app-icon class='icon xs' name='dashboard'></app-icon> Dashboard
        </button>

        <button mat-menu-item class='is-accent has-icon' routerLink='/profile'>
            <app-icon class='icon xs' name='profile'></app-icon> Profile
        </button>

        <button *ngIf='isAdmin' mat-menu-item class='is-accent has-icon' routerLink='/admin'>
            <app-icon class='icon xs' name='gear'></app-icon> Admin board
        </button>

        <button class='is-accent has-icon' mat-menu-item (click)='logout()'>
            <app-icon class='icon xs' name='power'></app-icon> Disconnect
        </button>

        </mat-menu>

    </section>

</mat-toolbar>
