#jar-over {
    #members-table.tab-wrapper {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem .5rem;
        .content {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            align-items: center;
            .mat-card {
                // max-width: 32% !important;
                margin: .5rem;
            }
        }

        .card-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;
        }
    }
}

