<section id="headline">
    <mat-chip-list>
        <div id='addressee'>
            <p class='legend'>supports: </p>
            <mat-chip selected color='accent'>
                <app-icon class='icon xs' name='support'></app-icon>
                <span>{{jar.addressee.name}}</span>
            </mat-chip>
        </div>
        <mat-chip selected color='primary'>
            <app-icon class='icon xs' name='peoples'></app-icon>
            <strong>{{jar.members.length}}</strong> members</mat-chip>
        <mat-chip selected color='primary'>
            <app-icon class='icon xs' name='swear'></app-icon>
            <strong>15</strong> confessions</mat-chip>
    </mat-chip-list>
    <div id="pay" *ngIf='isVisible()'>
        <p class="legend">Ready to pay your share ?</p>
        <button mat-raised-button color='accent' class='has-icon' (click)='pay()'>
            <app-icon class='icon xs' name='support'></app-icon>
            SUPPORT</button>
    </div>
</section>

<section id='jar-over' class=jar-content>

    <div id='members-table' class="tab-wrapper">
        <p class="legend centered">
            <app-icon name='peoples' class='icon xs'></app-icon>
            Find below all members who still owe something
        </p>
        <div class='content'>
            <mat-card *ngFor='let member of filteredMembers'>
                <div class="card-wrapper">
                    <span class='is-primary centered'>
                        <app-icon name='{{member.avatar}}' class='icon avatar' avatar='true'></app-icon>
                        {{member.username}}
                    </span>
                    <span class='chip-item centered'>
                        <em class="date legend">owes:</em>
                        <mat-chip selected color='primary'
                            matTooltip='{{member.confessions.length}} confessions'>{{member.balance | currency:'EUR'}}</mat-chip>
                    </span>
                    <span>
                            <app-icon class='icon xs is-accent helped' name='close'
                            matTooltip='Member needs support the association'></app-icon>
                    </span>
                </div>
            </mat-card>
        </div>
    </div>

</section>
