@import "theme";

/* GLOBAL LAYOUT STYLES */

::-moz-selection { background: #b3ecf2; color: white; }
::selection { background: #b3ecf2; color: white; }

* { margin: 0; padding: 0; box-sizing: border-box; }
html, app-root, body { min-height: 100vh; }
app-root, body, app-home, app-profile, app-dashboard { height: 100%; width: 100%; }
app-root {
  display: flex;
  flex-flow: row wrap;
  place-content: start center;
  overflow: hidden;
}
body {
  background-color: rgb(250, 250, 250);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2365d6e1' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position: center;
  background-size: 25%;
}

/* FONTS IMPORT */
@mixin font-face($name, $url, $weight, $style) {
  @font-face {
    font-family: $name;
    src: url($url) format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('poppins', '../assets/fonts/poppins/Regular.ttf', normal, normal );
@include font-face('poppins', '../assets/fonts/poppins/Regular-Italic.ttf', normal, italic );
@include font-face('poppins', '../assets/fonts/poppins/Black.ttf', bold, normal );
@include font-face('poppins', '../assets/fonts/poppins/Black-Italic.ttf', bold, italic );
@include font-face('pacifico', '../assets/fonts/Pacifico.ttf', normal, normal );

/* GLOBAL FONT STYLES */
p, a, li, button, .mat-chip, .is-bold, strong, .is-italic, i, em { font-family: poppins, sans-serif !important; }
p, a, li, button, .mat-chip { font-weight: normal !important; font-style: normal !important;}
.is-bold, strong { font-weight: bold !important; }
.is-italic, i, em { font-style: italic !important; }
h1, h1 > *, h2:not(.empty), h2 > *, h3, h3 > *, h4, h5, h6, .is-pacifico, .mat-card-title { font-family: pacifico, sans-serif !important;}

/* UTILITARY STYLES */
.spaced {
  padding: 1.25rem 2rem;
  &-lg { padding: 2.5rem 4rem}
  &-xs { padding: .65rem 1rem}
}
.legend { color: #AAA; font-style: italic;}
.empty { padding: 1rem; color: #888; font-style: italic; text-align: center; font-family: 'poppins, sans-serif' !important;}
