#global-navbar {
    padding: .5rem 0;
    width: 100%;
}

main#global-container {
    display: flex;
    flex-flow: row wrap;
    place-content: start center;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 130px);
    padding: .5rem 0;
    & > * { width: 100%; }
}

#global-footer{
    height: 50px;
    width: 100%;
}
