<h1 class="is-primary">The first <em class="is-accent">electronic </em> <br/> Swear Tin !</h1>

<h2 *ngFor='let sub of subTitles' class="mat-display-1 is-accent has-icon">
  <app-icon class="lg" name="{{sub.icon}}"></app-icon>{{ sub.title }}
</h2>

<mat-card id="forms">
  <mat-tab-group mat-stretch-tabs dynamicHeight
    [color]=" 'accent' " [backgroundColor]=" 'primary' ">
    <mat-tab *ngIf="active == 'register' " label="Create your account">
      <form-register (activeEvent)="setActive($event)"></form-register>
    </mat-tab>
    <mat-tab *ngIf="active == 'login' " label="login" isActive>
      <form-login (activeEvent)="setActive($event)"></form-login> 
    </mat-tab>
  </mat-tab-group>
</mat-card>
